.container{
    display: flex;
    justify-content: center;
}

.btn{
    display: block;
    margin-bottom: 5%;
    font-size: 3rem;
    padding: 1% 2%;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    background: #84DFFF;
    font-weight: 600;
    transition: all 0.3s;
    box-shadow: 10px 10px 10px;
    max-width: 60%;
}


.btn:hover{
    background: #EDD2F3;
}

.btn:active{
    transform: translateY(10px);
    box-shadow: 0px 0px 0px;
    
}

.btn:disabled{
    cursor: not-allowed;
}